* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pulp Display', Courier, monospace;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style-type: none;
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: inherit;
}
